html {
    font-size: 10px;
}

body {
    background-color: rgb(50,50,50);
    color: whitesmoke;
}

section {
    padding: 50px 0;
}

.container {
    width: 144rem;
    margin: 0 auto;
}

.meetings-head {
    font-family: sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 5rem 0;
}

.meetings-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.meetings-item {
    font-family: sans-serif;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 0.8rem;
    background-color: gray;
}

.meeting-item_comments {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.comments_head {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;

    margin: 1.5rem;
}

