<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Fuck you from HTML</h1>

<th:block th:each="user : ${users}">
    <h4 th:text="${user.name} + ': ' + ${user.age} + ' y.o.'"></h4>
</th:block>
</body>
</html>