<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meetings</title>
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>
<body>
<div class="container">
    <h2 class="meetings-head">Your meetings</h2>
    <section class="meetings-table">
        <th:block th:each="meeting : ${meetings}">
            <div class="meetings-item">
                <div class="meetings-item__time">
                    <p class="meetings-item__time-start" th:text="${meeting.dateStart}"></p>
                </div>
                <div class="meetings-item__time">
                    <p class="meetings-item__time-end"  th:text="${meeting.dateEnd}"></p>
                </div>
                <div class="meeting-item_comments" >
                    <h2 class="comments_head">Comments:</h2>
                    <div class="comments_item" th:each="comment : ${meeting.commentEntities}">
                        <p class="comments_item__author" th:text="${comment.author.login}"></p>
                        <p class="comments_item__text" th:text="${comment.commentText}"></p>
                    </div>
                </div>
            </div>
        </th:block>
    </section>
</div>



</body>
</html>