<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meetings</title>
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>
<body>
<div class="container">
    <h2 class="meetings-head">Your meetings</h2>
    <section class="meetings-table">
        <th:block th:each="meeting : ${meetings}">
            <form class="meetings-item" action="/meetings/delete" method="post">
                <input type="submit" value="Delete">
                <input type="text" readonly name="id" th:hidden="true" th:value="${meeting.meetingId}">

                <input class="meetings-item__time" type="text" readonly name="dateStart" th:value="${meeting.dateStart}">

                <input class="meetings-item__time" type="text" readonly name="dateEnd" th:value="${meeting.dateEnd}">
                <div class="meetings-item__participants">
                    <p class="participants-head">Participants:</p>
                    <th:block th:each="user : ${meeting.participants}">
                        <a href="#" class="participants-item" th:text="${user.login}"></a>
                    </th:block>
                </div>
                <h2 class="comments-head">Comments:</h2>
                <div class="meeting-item_comments" >
                    <div class="comments-item" th:each="comment : ${meeting.commentEntities}">
                        <p class="comments-item__author comment-text" th:text="${comment.author.login} +':'"></p>
                        <p class="comments-item__text comment-text" th:text="${comment.commentText}"></p>
                    </div>
                </div>
            </form>
        </th:block>
        <div class="meetings-item">
            <p class="meetings-item__add">Add new</p>
            <form id="newMeeting" action="/meetings/add" method="post" class="meeting-item__new">
                <input type="datetime-local" required class="new-time" name="dateStart">
                <input type="datetime-local" class="new-time" name="dateEnd">
                <input type="text" class="new-participant" placeholder="your friend login">
                <!--<input type="text" class="new-comment" name="commentText" placeholder="type you comment here">-->
                <input type="submit" class="new-submit" value="create">
                <span class="new-cancel">&#9747</span>
            </form>
        </div>
    </section>
</div>

<script src="../static/js/jquery.min.js" th:src="@{../js/jquery.min.js}"></script>
<script src="../static/js/meetings.js" th:src="@{../js/meetings.js}"></script>

</body>
</html>