<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.firstName} + ' ' + ${user.secondName}"></title>
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>
<body>
<div class="container">
    <a href="/" class="home-btn">Meetings</a>
    <h1 class="username-title" th:text="${user.firstName} + ' ' + ${user.secondName}"></h1>

    <div class="user-creds-wrapper">
        <p class="user-creds-item" th:text="${user.gender ? 'male' : 'female'}"></p>
        <p class="user-creds-item" th:text="${user.login}"></p>
        <p class="user-creds-item" th:text="${#dates.format(user.birdthDate, 'dd-MMM-yyyy')}"></p>
    </div>

</div>
</body>
</html>